<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://treetool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>treetool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$treetool</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DAL.TreeToolEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.10.11.10;Initial Catalog=TreeTool;Persist Security Info=True;User ID=sa;Password=sapwd;Application Name=EntityFramework" Name="Data Source=10.10.11.10;Initial Catalog=TreeTool;Persist Security Info=True;User ID=sa;Password=sapwd;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DAL.TreeToolEntities, DAL" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TreeToolEntities_Publish" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:xq8yw4u49l.database.windows.net,1433;Initial Catalog=treetool_db;User ID=davidvandoorn@xq8yw4u49l;Password=Sweco123!" Name="Data Source=tcp:xq8yw4u49l.database.windows.net,1433;Initial Catalog=treetool_db;User Id=davidvandoorn@xq8yw4u49l;Password=Sweco123!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:xq8yw4u49l.database.windows.net,1433;Initial Catalog=treetool_db;User Id=davidvandoorn@xq8yw4u49l;Password=Sweco123!;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TreeToolEntities_Publish_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:xq8yw4u49l.database.windows.net,1433;Initial Catalog=treetool_db;User Id=davidvandoorn@xq8yw4u49l;Password=Sweco123!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DAL.TreeToolEntities-Web.config Connection String">
      <ParameterValue>Data Source=10.10.11.10;Initial Catalog=TreeTool;Persist Security Info=True;User ID=sa;Password=sapwd;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TreeToolEntities_Publish-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xq8yw4u49l.database.windows.net,1433;Initial Catalog=treetool_db;User Id=davidvandoorn@xq8yw4u49l;Password=Sweco123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>