<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://treetool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>treetool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$treetool</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TreeToolEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fr6mra92an.database.windows.net,1433;Initial Catalog=TreeTool;Integrated Security=False;User ID=davidvandoorn@fr6mra92an;Password=Sweco123!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:fr6mra92an.database.windows.net,1433;Database=TreeTool;User ID=davidvandoorn@fr6mra92an;Password=Sweco123!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DAL.TreeToolEntities, DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TreeToolEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TreeContext.csdl|res://*/TreeContext.ssdl|res://*/TreeContext.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:fr6mra92an.database.windows.net,1433;Database=TreeTool;User ID=davidvandoorn@fr6mra92an;Password=Sweco123!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>